<main class="container-fluid px-4 px-md-5">
<div id="gallery" class="row -dark p-4 px-3 mb-5">
    <div class="subtitle col-12 p-0 pb-3">GALLERY</div>
    <div class="col-12 gallery">
      <div class="row" *ngIf="images.length">
        <div *ngFor="let image of images" class="col-6 col-md-4 img px-0">
          <img class="gallery" src="{{ image.src }}">
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center d-none px-0 mt-3">
      <a href="gallery.html" class="primary-btn col-12 col-md-auto">GALLERY</a>
    </div>
  </div>

  <app-next-event></app-next-event>

  <app-contact></app-contact>
</main>
