
<div id="contact" class="row -dark p-4 px-3 my-5">
  <h5 style="font-size: medium;" class="subtitle col-12 p-0">RESERVATION</h5>
  <hr>
  <div class="subtitle col-12 p-0 pb-3">Reserve A Table</div>
  <p class="p-0 pb-2 d-none">Praesent vel lectus eget turpis aliquam commodo. Aenean pharetra lobor- tis enim at aliquet. Nam sit amet molestie urna, at luctus lorem.</p>
  <div class="col-12 p-0">
    <form [formGroup]="bookform" class="px-0 row" (submit)="save()">
      <div class="mb-3 col-12 col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" formControlName="name" placeholder="Enter your full name" class="form-control" id="name" aria-describedby="name" required>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="email" class="form-label">Email address</label>
        <input type="email" formControlName="email" placeholder="Enter email address" class="form-control" id="email" aria-describedby="emailHelp" required>
      </div>
      <div class="col-12 mb-2">
        <div class="row">
          <div class="col-12 col-md-6 mb-2">
            <label for="party" class="form-label">Event</label>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button">Select party</button>
              <select class="form-select" formControlName="party" id="party" aria-label="Example select with button addon" required>
                <option selected>...</option>
                <option value="kissntell">Kiss N Tell Mask Party</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label invisible d-none d-md-block">kkkk</label>
            <div class="input-group mb-0">
              <button class="btn btn-outline-secondary" type="button">Number of people</button>
              <select class="form-select" id="party" formControlName="people" aria-label="Example select with button addon" required>
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button [disabled]="saving || failed || saved" class="primary-btn text-uppercase m-0 mt-2 col-12 col-md-auto d-flex justify-content-center" type="submit">
              <i *ngIf="failed" class="bi bi-x-circle fs-3 text-danger"></i>
              <i *ngIf="saved" class="bi bi-check-circle fs-3 text-success"></i>
              <div *ngIf="saving" class="spinner-border text-light spinner-border spinner-primary" role="status">
                <span class="sr-only visually-hidden">Loading...</span>
              </div>
              <span *ngIf="!saving && !saved && !failed">BOOK NOW</span>
            </button>
      </div>
    </form>
  </div>

  <h5 style="font-size: medium;" class="subtitle col-12 p-0 mt-3">PARTNERSHIP</h5>
  <hr>
  <div class="subtitle col-12 p-0 pb-3">Become a sponsor</div>
  <p class="p-0 pb-2 d-none">Praesent vel lectus eget turpis aliquam commodo. Aenean pharetra lobor- tis enim at aliquet. Nam sit amet molestie urna, at luctus lorem.</p>
  <div class="col-12 p-0">
    <form [formGroup]="sponsorform" class="px-0 row" (submit)="savesponsor()">
      <div class="col-12 d-flex align-items-center">
          <div class="col-12 p-0">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" formControlName="Email" type="email" class="form-control" placeholder="Enter your email address" required>
            <button [disabled]="sponsorsaving || sponsorfailed || sponsorsaved" class="primary-btn text-uppercase m-0 mt-2 col-12 d-flex justify-content-center" type="submit">
              <i *ngIf="sponsorfailed" class="bi bi-x-circle fs-3 text-danger"></i>
              <i *ngIf="sponsorsaved" class="bi bi-check-circle fs-3 text-success"></i>
              <div *ngIf="sponsorsaving" class="spinner-border text-light spinner-border spinner-primary" role="status">
                <span class="sr-only visually-hidden">Loading...</span>
              </div>
              <span *ngIf="!sponsorsaving && !sponsorsaved && !sponsorfailed">Join now</span>
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
