<footer class="py-3 px-md-5 px-4 pt-5 mt-5">
  <div class="newsletter mt-5 row d-flex justify-content-center">
    <div class="col-12 col-md-10 p-3 p-md-4">
      <form [formGroup]="Form" (ngSubmit)="submitForm()"
        class="row">
        <div
          class="col-12 col-md-5 text-center text-md-start d-flex justify-content-center justify-content-md-start align-items-center">
          <div>
            <h5>SUBSCRIBE FOR UPCOMING EVENTS</h5>
            <h2>AND SPECIAL OFFERS</h2>
          </div>
        </div>
        <div class="col-12 col-md-7 d-flex align-items-center">
          <div class="col-12 p-0">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" formControlName="Email" type="email" class="form-control" placeholder="Email address" required>
            <button [disabled]="submitting" (click)="submitForm()" class="primary-btn text-uppercase m-0 mt-2 col-12 d-flex justify-content-center" type="submit">
              <span>{{ submitting ? 'Submitting...' : 'Subscribe' }}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row -dark p-2 py-4">
    <div class="col-12 col-md-7 text-center text-md-start">
      <div class="row" style="height: 100%;">
        <div class="col-12 col-md-4 ps-md-5 d-flex justify-content-center align-items-center">
          <a href="/">
            <img src="assets/img/logo.png" style="width: 100%;" alt="Logo">
          </a>
        </div>
        <div class="col-12 foot col-md-8 d-none justify-content-center align-items-center">
          <p>Praesent vel lectus eget turpis aliquam commodo. Aenean pharetra lobortis enim at aliquet. Nam sit amet
            molestie urna, at luctus lorem. Vestibulum at consectetur libero.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 mb-3 text-center text-md-start  d-flex justify-content-center align-items-center">
      <div class="col-12 call">
        <p>
          <i class="bi bi-telephone-x-fill me-2"></i>
          <a href="tel:+37253618436">+37253618436</a>
        </p>
        <p>
          <i class="bi bi-geo-fill me-2"></i>
          <a href="javascript:void(0);">Tallinn, Estonia</a>
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>© 2023 TILT Empire, Inc. All rights reserved.</p>
    <ul class="share">
      <li>
        <a href="https://www.facebook.com/tiltempire">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/tilt_emp?igshid=MzRlODBiNWFlZA==">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
