
		<div id="about_us" class="row -dark p-2 py-4 my-5">
			<div class="col-12 col-md-7 pe-md-4 mb-5 mb-md-0">
				<div class="col-12">
					<div class="party col-12 pt-2">
						<div class="row">
							<div class="col-12 pb-3 mb-3">
								<div class="heading -left">
									<div class="subtitle">ABOUT TILT</div>
									<!--<h1 class="title">What's TILT?</h1>
									<div class="col-12 d-flex d-md-block justify-content-center mb-3">
										<div class="col-12 col-md-7">
											<img src="logo.png" alt="">
										</div>
									</div>-->
									<article class="fs-5 text-start">
										Tilt is the first ever jam session in Estonia to bring together all kind of genre of music, hiphop, ukdrill and afrofusion.
										<br>
										Tilt is the new wave of concept party in Estonia.
									</article>
									<div class="subtitle pt-4 pb-3">Founder</div>
									<!--<h1 class="title">What's TILT?</h1>-->
									<div class="col-12 d-flex d-md-block justify-content-center mb-3">
										<div class="col-12 col-md-4">
											<img src="assets/img/founder.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-5">
				<app-upcoming-events></app-upcoming-events>
			</div>

			<div class="col-12 d-flex justify-content-center video">
				<div class="col-12 col-md-6">
					<img src="assets/img/dj.jpg" alt="">
					<div class="img-overlay"></div>
					<a (click)="openVideoModal(video)" class="video-play-button" href="javascript:void(0)">
						<span></span>
					</a>
				  	<div #video id="video-overlay" class="video-overlay">
						<a class="video-overlay-close" (click)="close_video()">
	              			<i class="bi bi-x-lg"></i>
	            		</a>
            		</div>
				</div>
			</div>
		</div>
