<main class="container-fluid px-4 px-md-5">
  <div class="home row position-relative text-center mb-5 pb-5">
    <h4 class="mb-5">NEXT PARTY</h4>
    <div *ngIf="event" class="col-12 scale-in-center">
      <h2 class="text-uppercase m-0 p-0">{{ event.title }}</h2>
      <h3 class="text-uppercase mt-0 d-none"></h3>
      <div class="col-12 d-flex mt-3 justify-content-center">
        <p *ngIf="event._id !== '4c4c9544-6edd-40e7-b898-4b850bef87c7' && event._id !==  '759e691e-88e2-4e00-8b42-271ca651da5d'"
          class="mb-3 col-8">
          {{ event.description }}
        </p>
        <div
          *ngIf="event._id === '4c4c9544-6edd-40e7-b898-4b850bef87c7' || event._id ===  '759e691e-88e2-4e00-8b42-271ca651da5d'"
          class="col-12 p-0">
          <video #video class="col-12" autoplay volume="0.2" playsinline loop>
            <source src="https://tiltempire.b-cdn.net/eatahthon.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="d-md-flex flex-wrap flex-row col-12 col-lg-10 justify-content-between">
        <button [routerLink]="['/events']" routerLinkActive="router-link-active"
          class="secondary-btn col-12 col-md-3">ALL EVENTS</button>
        <button *ngIf="event.checkout_link" (click)="payout('reg')"
          class="primary-btn col-12 col-md-3 text-uppercase">Get Ticket Pass</button>
        <button *ngIf="event.checkout_link_vip" (click)="payout('vip')"
          class="primary-btn col-12 col-md-3 text-uppercase">VIP Ticket Pass</button>
      </div>
    </div>
  </div>

  <app-next-event></app-next-event>

  <app-about></app-about>

  <div id="gallery" class="row -dark p-4 px-3 my-5">
    <div class="subtitle col-12 p-0 pb-3">LATEST PHOTOS</div>
    <div class="col-12 gallery">
      <div class="row" *ngIf="images.length">
        <div *ngFor="let image of images" class="col-6 col-md-4 img px-0">
          <img class="gallery" src="{{ image.src }}">
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center px-0 mt-3">
      <a routerLink="/gallery" class="primary-btn col-12 col-md-auto">GALLERY</a>
    </div>
  </div>

  <app-contact></app-contact>
</main>