<div *ngIf="upcomingEvents.length > 0" class="col-12 events-list p-3 px-md-5 mt-3">
  <h1 class="px-md-0 mb-4">Latest Events</h1>
  <div class="events container-fluid px-0">
    <div class="row">
      <div *ngFor="let event of upcomingEvents" class="col-12 col-md-4 col-lg-3 p-3 p-md-2">
        <div class="col-12 shadow p-3 -dark event-card">
          <h5 class="mb-0">
            {{ convertToMonth(event.datetime) }}
            {{ convertToDate(event.datetime) }}
          </h5>
          <h4 class="text-capitalize fw-bold">
            <a [routerLink]="['/event', event._id]">{{ event.title }}</a>
          </h4>
          <p class="mb-3 desc">{{ event?.description }}</p>
          <h6>
            <div class="row">
              <i class="bi bi-calendar-check col-auto pe-0"></i>
              <div class="col-10">
                {{ convertToDay(event.datetime) }},
                {{ convertToMonth(event.datetime) }}
                {{ convertToDate(event.datetime) }},
                {{ convertToYear(event.datetime) }}. <br />
                {{ convertTime(event.datetime) }}
              </div>
            </div>
          </h6>
          <h6>
            <div class="row">
              <i class="bi bi-geo-alt col-auto pe-0"></i>
              <div class="col-8">{{ event.location }}</div>
            </div>
          </h6>
          <div class="col-12">
            <div class="row">
              <div *ngIf="event.tags.length" class="col-12 mt-2">
                <p class="mb-2">Tags</p>
                <ul class="tags">
                  <li *ngFor="let tags of event.tags">
                    <a href="javascript:void(0)">{{ tags }}</a>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <p class="mb-0">Share</p>
                <ul class="share">
                  <li>
                    <a target="_blank" href="https://www.facebook.com/tiltempire">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://instagram.com/tilt_emp?igshid=MzRlODBiNWFlZA==">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-start">
            <a [routerLink]="['/event', event._id]"
              class="bg-transparent primary-btn border-0 p-0 col-12 col-md-auto text-uppercase">Learn more <i
                class="bi bi-chevron-right tint fs-6"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 p-3 p-md-2">
        <div class="col-12 shadow p-5 -dark event-card">
          <h2 class="text-muted">Coming soon...</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pastEvents.length" class="col-12 events-list p-3 px-md-5 mt-3">
  <h1 class="px-md-0 mb-4">Past Events</h1>
  <div *ngIf="pastEvents.length > 0" class="events container-fluid px-0">
    <div class="row">
      <div *ngFor="let event of pastEvents" class="col-12 col-md-4 col-lg-3 p-3 p-md-2">
        <div class="col-12 shadow p-3 -dark event-card">
          <h5 class="mb-0">
            {{ convertToMonth(event.datetime) }}
            {{ convertToDate(event.datetime) }}
          </h5>
          <h4 class="text-capitalize fw-bold">
            <a [routerLink]="['/event', event._id]">{{ event.title }}</a>
          </h4>
          <p class="mb-3 desc">{{ event?.description }}</p>
          <h6>
            <div class="row">
              <i class="bi bi-calendar-check col-auto pe-0"></i>
              <div class="col-10">
                {{ convertToDay(event.datetime) }},
                {{ convertToMonth(event.datetime) }}
                {{ convertToDate(event.datetime) }},
                {{ convertToYear(event.datetime) }}. <br />
                {{ convertTime(event.datetime) }}
              </div>
            </div>
          </h6>
          <h6>
            <div class="row">
              <i class="bi bi-geo-alt col-auto pe-0"></i>
              <div class="col-8">{{ event.location }}</div>
            </div>
          </h6>
          <div class="col-12">
            <div class="row">
              <div *ngIf="event.tags.length" class="col-12 mt-2">
                <p class="mb-2">Tags</p>
                <ul class="tags">
                  <li *ngFor="let tags of event.tags">
                    <a href="javascript:void(0)">{{ tags }}</a>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <p class="mb-0">Share</p>
                <ul class="share">
                  <li>
                    <a target="_blank" href="https://www.facebook.com/tiltempire">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://instagram.com/tilt_emp?igshid=MzRlODBiNWFlZA==">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-start">
            <a [routerLink]="['/event', event._id]"
              class="bg-transparent primary-btn border-0 p-0 col-12 col-md-auto text-uppercase">Learn more <i
                class="bi bi-chevron-right tint fs-6"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
